[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pymongo = "*"
reprint = "*"
schematics = "*"
waitress = "*"

[dev-packages]
docstring_parser = "*"
mkdocs = "*" # Documentation static site generator & deployment tool
mkdocs-material = "*" # Replace with Custom Theme if desired
mkdocstrings = "*"
pandas = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytkdocs = "*"
pytest-watch = "*"
rich = "*"
server = {path = ".", editable = true}
wheel = "*"

[requires]
python_version = "3.10"
